.admin-button{
    background-color: #1F1B16;
    background-image: url('../../images/icons/other/plus.svg');
    background-position: 5.5% 51%;
    background-repeat: no-repeat;
    color: #E2D4C4;
    border: none;
    padding: 7px 10px 8px 26px;
    font-size: 17px;
    font-style: normal;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    text-transform:uppercase;
   
    align-self: flex-end;
}

.admin-button:hover {
    color: #E4B474;
    border: 2px solid #1F1B16;
    background-image: url('../../images/icons/other/plusHovered.svg');
    background-position: 5% 54%;
    background-repeat: no-repeat;
}

/* .reverse-admin-button {
    background-color: #E4B474;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    text-transform:uppercase;
}

.reverse-admin-button:hover {
    background-color: #1F1B16;
    color: #E2D4C4;
    border: 2px solid #E4B474;
} */


