.login-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.login-input-container{
    width: 40%;
}

.login-btn-container{

}

.login-captcha-container{
    
}