.section-new-history {
    display: flex;
    flex: 3;
    flex-direction: column;
    color: #1f1b16;
    font-family:
        Zen Kurenaido,
        sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 150px 70px;
    background: url("../../images/DefaultBG.jpg") no-repeat center center;
    background-size: cover;
}

.header-container-new-history {
    border-bottom: 2px solid #1f1b16;
    margin-bottom: 20px;
}

.header-of-section {
    color: #1f1b16;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.container-form-new-place {
    display: flex;
    flex-direction: column;

    padding: 20px 88px 37px;
    gap: 40px;
}

.section-form-new-place {
    justify-content: space-between;
}

.container-inputs-form-new-place {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.container-form-new-place .story {
    width: 100%;
}

.container-inputs-form-for-inputs {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.container-inputs-form-for-short-descr {
    display: flex;
    flex-direction: column;
}

.container-inputs-form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.container-inputs-for-coordinates {
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.container-inputs-for-coordinates div {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.container-inputs-for-coordinates span {
    margin-bottom: 8px;
}

.section-register-new-history {
    padding: 65px 88px 0px;
    border-top: 2px solid #1f1b16;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.container-register-header-new-history {
    text-align: center;
    margin-right: 73px;
    margin-top: 17px;
}

.container-register-header-new-history h2 {
    font-family: "Zen Kurenaido";
    font-weight: 400;
    font-size: 40px;
    color: #1f1b16;
}

.container-register-header-new-history span {
    font-family: "Zen Kurenaido";
    font-weight: 400;
    font-size: 25px;
    color: #1f1b16;
    opacity: 80%;
}

.container-register-form-new-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    align-items: center;
}

/* .container-register-form-inputs-new-history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    align-items: center;

} */

.container-add-form-button-new-place {
    margin-top: 0px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container {
    width: 80%;
    margin: 50px auto;
} */

.date-range {
    width: 100%;
    margin-top: -6px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.date-range label {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 22px;
    color: #1f1b16;
}

.date-range input {
    width: 40% !important;
    height: 30px !important;
}

/* .story-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .story-block .data {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
} */

/* .story-block .story {
    width: 60%;
} */

/* .container-inputs-form-new-history input,
.container-register-form-new-history input,
.container-register-form-new-history button,
.container-story-form-new-history textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */
