.input-select-container {
    position: relative;
    width: 100%;
}

.input-form-select {
    background:
        url("../../images/icons/other/sortArrowBlack.svg") calc(100% - 30px) /
            15px 9px no-repeat,
        transparent;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #1f1b16;
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #1f1b16;
    cursor: pointer;
    box-sizing: border-box;
}

.input-form-select:hover {
    background:
        url("../../images/icons/other/sortArrowHovered.svg") calc(100% - 30px) /
            15px 9px no-repeat,
        transparent;
}

.input-form-select:focus {
    outline: none;
}

.list-select {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #453f38;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    list-style: none;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
}

.list-select li {
    padding: 10px 15px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #e2d4c4;
    cursor: pointer;
}

.list-select li:not(:last-child) {
    border-bottom: 1px solid #e4b474;
}

.list-select li:hover {
    background: #1f1b16;
}

.list-select .selected {
    background-color: #e4b474;
    font-weight: bold;
    color: #e2d4c4;
}
