.input-form {
    width: 100%;
    height: 40px;
    padding: 0 0 7px;
    border-radius: 5px;
    border: 1px solid #1f1b16;
    background: transparent;
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #1f1b16;
}

.input-form:focus {
    outline: #1f1b16;
}

.input-form-date {
    width: 100%;
    height: 40px;
    padding: 0 0 7px;
    border-radius: 5px;
    border: 1px solid #1f1b16;
    background: transparent;
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #1f1b16;

    position: relative; /* Needed to position the pseudo-element */
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

.input-form-date:focus {
    outline: #1f1b16;
    color: #1f1b16;
}

.input-form-date::after {
    content: "";
    display: block;
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-128.png)
        no-repeat;
    background-size: contain;
    /* Ensure the image fits within the pseudo-element */
    width: 18px;
    /* Adjust the size to match the font size */
    height: 18px;
    /* Adjust the size to match the font size */
    position: absolute;
    right: 14px;
    /* Position the icon 4px to the right of the input */
    top: 50%;
    transform: translateY(-50%);
    /* Center the icon vertically */
    pointer-events: none;
    /* Prevent the icon from blocking input events */
}

.input-form-coordinates {
    width: 45%;
    height: 40px;
    padding: 0 0 7px;
    border-radius: 5px;
    border: 1px solid #1f1b16;
    background: transparent;
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #1f1b16;
}

.input-form-coordinates:focus {
    outline: #1f1b16;
}

.input-form-photo {
    width: 100%;
    height: 40px;
    padding: 0 0 7px;
    border-radius: 5px;
    border: 1px solid #1f1b16;
    background: transparent;
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #1f1b16;
    display: flex !important;
    background-image: url("../../images/icons/story/img-black.svg");
    background-position: 30% 51%;
    background-repeat: no-repeat;
}

.input-form-photo:focus {
    outline: #1f1b16;
}

.input-form-photo::before {
    text-align: center;
    opacity: 65%;
}

.input-form-photo::file-selector-button {
    display: none;
    font-display: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container-form-new-history
    .container-inputs-form-new-history
    input::placeholder,
textarea#story::placeholder {
    color: #4d4b48e6;
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 22px;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.file-preview-image {
    width: 30%;
    position: relative;
    top: 0;
    right: 20px;
}

.attachment-preview-image {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 25px;
    margin-top: 5px;
    background: #4d4b48e6;
    border-radius: 5px 5px 5px 5px;
}

.attachment-preview-image img {
    border-radius: 5px 5px 5px 5px;
}

.file-name {
    display: flex;
    align-items: center;
    color: white;
}

.file-name:hover {
    color: #e4b474;
}

.admin-btn-container-archive {
    width: fit-content;
    background: #e4b474;
    border-radius: 5px;
    position: relative;
    top: -106px;
    left: -14px;
}

.admin-btn-container-prisoners {
    width: fit-content;
    background: #e4b474;
    border-radius: 5px;
    position: relative;
    top: -129px;
    left: -14px;
}

.input-form-date-container{
    display: flex;
    flex-direction: column;
    gap:6px;
}

.input-form-container {
    position: relative;
    width: 100%;
  }
  
  .input-form-label {
    position: absolute;
    top: -15px;
    left: -11px;
    font-size: 20px;
    color: black;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    border-radius: 18px;
    padding: 1px 4px;
    background: rgba(255, 206, 140, 0.77);
    z-index: 4;
  }
  
  .input-form:focus + .input-form-label,
  .input-form:not(:placeholder-shown) + .input-form-label {
    top: -16px;
    font-size: 10px;
    color: #000;
  }
  