    .input-form {
      width: 100%;
      height: 40px;
      padding: 0 0 7px;
      border-radius: 5px;
      border: 1px solid #1F1B16;
      background: transparent;
      font-family: "Zen Kurenaido", sans-serif;
      font-size: 22px;
      text-align: center;
      color: #1F1B16;
    }

    .input-form:focus {
      outline: #1F1B16;
    }

    .input-form-coordinates {
      width: 45%;
      height: 40px;
      padding: 0 0 7px;
      border-radius: 5px;
      border: 1px solid #1F1B16;
      background: transparent;
      font-family: "Zen Kurenaido", sans-serif;
      font-size: 22px;
      text-align: center;
      color: #1F1B16;
    }

    .input-form-coordinates:focus {
      outline: #1F1B16;
    }



    .input-form-photo {
      width: 100%;
      height: 40px;
      padding: 0 0 7px;
      border-radius: 5px;
      border: 1px solid #1F1B16;
      background: transparent;
      font-family: "Zen Kurenaido", sans-serif;
      font-size: 22px;
      text-align: center;
      color: #1F1B16;
      display: flex !important;
      background-image: url('../../images/icons/story/img-black.svg');
      background-position: 30% 51%;
      background-repeat: no-repeat;
    }

    .input-form-photo::before {
      text-align: center;
      opacity: 65%;
    }

    .input-form-photo::file-selector-button {
      display: none;
      font-display: none;
    }


    *,
    *:before,
    *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }


    .container-form-new-history .container-inputs-form-new-history input::placeholder,
    textarea#story::placeholder {
      color: #4d4b48e6;
      font-family: "Zen Kurenaido", sans-serif;
      font-size: 22px;
    }

    input[type="date"]::-webkit-inner-spin-button {
      display: none;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }