.add-story .old-paper {
  background: url('./../assets/images/OldPaper.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -1310px;
  top: -87px;
  width: 4096px;
  height: 2925px;
}
.add-story .container-31 {
  opacity: 0.3;
  mix-blend-mode: multiply;
  filter: blur(2px);
  background: url('./../assets/images/Image4.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.add-story .container-17 {
  filter: blur(50px);
  position: absolute;
  top: 142px;
  right: 32px;
  width: 1836px;
  height: 968px;
}
.add-story .container-30 {
  position: relative;
  margin: 0 148.4px 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 50px;
  color: #1F1B16;
}
.add-story .line {
  background: #1F1B16;
  position: relative;
  margin-bottom: 37px;
  width: 1670px;
  height: 2px;
}
.add-story .container-1 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(77, 75, 72, 0.9);
}
.add-story .container {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  padding: 2px 92.5px 6px 0;
  width: 400px;
  box-sizing: border-box;
}
.add-story .container-19 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(77, 75, 72, 0.9);
}
.add-story .container-18 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  padding: 2px 95.3px 6px 0;
  width: 400px;
  box-sizing: border-box;
}
.add-story .container-21 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(77, 75, 72, 0.9);
}
.add-story .container-20 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  padding: 2px 79.1px 6px 0;
  width: 400px;
  box-sizing: border-box;
}
.add-story .container-3 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(77, 75, 72, 0.9);
}
.add-story .container-2 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  padding: 2px 94.1px 6px 0;
  width: 400px;
  box-sizing: border-box;
}
.add-story .container-5 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: var(--token-1, rgba(77, 75, 72, 0.9));
}
.add-story .container-4 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  padding: 2px 83.3px 6px 0;
  width: 400px;
  box-sizing: border-box;
}
.add-story .container-7 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(77, 75, 72, 0.9);
}
.add-story .container-12 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  padding: 2px 89.3px 6px 0;
  width: 400px;
  box-sizing: border-box;
}
.add-story .container-9 {
  margin-right: 22px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 30px;
  color: var(--dark, #1F1B16);
}
.add-story .container-8 {
  border-radius: 5px;
  border: 1px solid var(--dark, #1F1B16);
  margin: 13px 23px 0 0;
  width: 140px;
  height: 30px;
}
.add-story .container-11 {
  margin-right: 24.2px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 30px;
  color: var(--dark, #1F1B16);
}
.add-story .container-10 {
  border-radius: 5px;
  border: 1px solid var(--dark, #1F1B16);
  margin-top: 13px;
  width: 140px;
  height: 30px;
}
.add-story .container-9 {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.add-story .container-6 {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.add-story .container-2 {
  margin: 44px 132px 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.add-story .container-14 {
  width: 23.5px;
  height: 23.5px;
}
.add-story .img-1 {
  margin: 0px 19.5px 0px 0;
  display: flex;
  width: 23.5px;
  height: 23.5px;
  box-sizing: border-box;
}
.add-story .container-15 {
  width: 23.5px;
  height: 23.5px;
}
.add-story .vid-1 {
  margin: 0 19.2px 0.1px 0;
  display: flex;
  width: 23.5px;
  height: 23.5px;
  box-sizing: border-box;
}
.add-story .container-16 {
  width: 19.1px;
  height: 23.6px;
}
.add-story .doc-1 {
  margin-top: 0px;
  display: flex;
  width: 19.1px;
  height: 23.6px;
  box-sizing: border-box;
}
.add-story .container-7 {
  border-radius: 5px 5px 0 0;
  background: rgba(77, 75, 72, 0.9);
  position: relative;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  padding: 9.6px 0 10.8px 25.8px;
  width: 860px;
  box-sizing: border-box;
}
.add-story .container-12 {
  margin: 13px 17.5px 152px 0;
  display: inline-block;
  width: 809.5px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 24px;
  color: var(--token-1, rgba(77, 75, 72, 0.9));
}
.add-story .container-13 {
  background: rgba(77, 75, 72, 0.9);
  width: 3px;
  height: 200px;
}
.add-story .container-5 {
  margin: 0 5px 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 830px;
  box-sizing: border-box;
}
.add-story .text-story {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 245px;
  width: 860px;
  box-sizing: border-box;
}
.add-story .test-3 {
  position: relative;
  margin: 0 0 53px 4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.add-story .line-1 {
  background: #1F1B16;
  position: relative;
  margin-bottom: 63px;
  width: 1670px;
  height: 2px;
}
.add-story .container-23 {
  position: relative;
  margin: 17px 29px 25px 0;
  display: inline-block;
  width: 407px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 40px;
  color: rgba(31, 27, 22, 0.9);
}
.add-story .container-26 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(31, 27, 22, 0.5);
}
.add-story .container-25 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  margin-bottom: 20px;
  padding: 2px 15px 6px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.add-story .container-28 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(31, 27, 22, 0.5);
}
.add-story .container-27 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  padding: 1px 15px 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.add-story .container {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-sizing: border-box;
}
.add-story .container-10 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 936px;
  box-sizing: border-box;
}
.add-story .email {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: rgba(31, 27, 22, 0.5);
}
.add-story .container-29 {
  border-radius: 5px;
  border: 1px solid #1F1B16;
  position: relative;
  padding: 1px 15px 7px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.add-story .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 936px;
  height: fit-content;
  box-sizing: border-box;
}
.add-story .container-24 {
  position: absolute;
  left: 0px;
  bottom: 58px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 25px;
  color: rgba(31, 27, 22, 0.7);
}
.add-story .container-22 {
  border-radius: 5px;
  position: relative;
  margin: 0 469px 46px 0;
  display: flex;
  padding-left: 85px;
  width: 1021px;
  box-sizing: border-box;
}
.add-story .container-38 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: var(--light, #E2D4C4);
}
.add-story .but-1 {
  border-radius: 10px;
  border: 2px solid #E2D8CB;
  background: #1F1B16;
  position: relative;
  margin-left: 42px;
  display: flex;
  padding: 26px 0 26px 9px;
  width: 400px;
  box-sizing: border-box;
}
.add-story .mid {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 120px 70px 130px;
  width: 1920px;
  box-sizing: border-box;
}
.add-story .container-46 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 30px;
  color: rgba(255, 206, 140, 0.77);
}
.add-story .container-47 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 19px;
  color: #E0CDB4;
}
.add-story .container-45 {
  position: relative;
  margin-bottom: 19px;
  display: flex;
  padding: 0 0 20px 2px;
  box-sizing: border-box;
}
.add-story .container-42 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.add-story .container-3 {
  margin-right: 28.3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.add-story .container-43 {
  margin-top: 83px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.add-story .container-6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.add-story .container-50 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.add-story .but-11 {
  border-radius: 10px;
  background: var(--color, #E4B474);
  margin: 36px 0 15px 0;
  display: flex;
  padding: 25px 0 21px 6px;
  width: 350px;
  height: fit-content;
  box-sizing: border-box;
}
.add-story .container-39 {
  background: url('./../assets/images/Image1.png') 50% / cover no-repeat;
  margin-right: 35px;
  width: 80px;
  height: 80px;
}
.add-story .unnamed-1 {
  background: url('./../assets/images/Unnamed1.jpeg') 50% / cover no-repeat;
  width: 50px;
  height: 50px;
}
.add-story .container-41 {
  border-radius: 40px;
  background: #FFFFFF;
  position: relative;
  margin-right: 35px;
  display: flex;
  padding: 15px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.add-story .container-40 {
  background: url('./../assets/images/Image2.png') 50% / cover no-repeat;
  margin-right: 35px;
  width: 80px;
  height: 80px;
}
.add-story .container-44 {
  width: 44.3px;
  height: 50px;
}
.add-story .bsuir {
  border-radius: 40px;
  background: #3A547F;
  position: relative;
  display: flex;
  padding: 15px 17.7px 15px 18px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.add-story .partners {
  margin: 29px 0 12px 0;
  display: flex;
  flex-direction: row;
  width: 425px;
  height: fit-content;
  box-sizing: border-box;
}
.add-story .container-8 {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1298px;
  box-sizing: border-box;
}
.add-story .container-49 {
  margin-right: 14.5px;
  width: 235.5px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 20px;
  color: #DEBF95;
}
.add-story .container-48 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 20px;
  color: #E7DBCD;
}
.add-story .container-1 {
  margin-right: 970px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324px;
  box-sizing: border-box;
}
.add-story .bot {
  background: #1F1B16;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 83px 0 36px 0;
  width: 1922px;
  box-sizing: border-box;
}
.add-story .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1922px;
  height: fit-content;
  box-sizing: border-box;
}
.add-story .container-32 {
  margin: 9px 16px 10px 0;
  display: inline-block;
  width: 126px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: #E7DBCD;
}
.add-story .container-33 {
  margin: 9px 0 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 22px;
  color: #E7DBCD;
}
.add-story .container-34 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 206, 140, 0.77);
}
.add-story .container-35 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 15px;
  color: #E0CDB4;
}
.add-story .container-36 {
  position: relative;
  display: flex;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.add-story .container-37 {
  width: 23.5px;
  height: 23.5px;
}
.add-story .lang-11 {
  position: relative;
  display: flex;
  width: 23.5px;
  height: 23.5px;
  box-sizing: border-box;
}
.add-story .ellipse-3 {
  border-radius: 20px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 40px;
  height: 40px;
}
.add-story .lang {
  position: relative;
  margin: 6px 0 5px 0;
  display: flex;
  padding: 7.7px 8.6px 8.7px 7.9px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.add-story .header {
  background: #1F1B16;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 130px 28px 130px;
  box-sizing: border-box;
}
.add-story {
  background: var(--back-frame, #E1D5CC);
  display: flex;
  padding-top: 91px;
  width: 1920px;
  box-sizing: border-box;
}
