.bot .container-7 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 30px;
  color: rgba(255, 206, 140, 0.77);
}
.bot .container-8 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 19px;
  color: #E0CDB4;
}
.bot .container-6 {
  position: relative;
  margin-bottom: 19px;
  display: flex;
  padding: 0 0 20px 2px;
  box-sizing: border-box;
}
.bot .container-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.bot .container-3 {
  margin-right: 28.3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.bot .container-4 {
  margin-top: 83px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.bot .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.bot .container-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.bot .but-1 {
  border-radius: 10px;
  background: var(--color, #E4B474);
  margin: 36px 0 15px 0;
  display: flex;
  padding: 25px 0 21px 6px;
  width: 350px;
  height: fit-content;
  box-sizing: border-box;
}
.bot .container {
  background: url('./../assets/images/Image1.png') 50% / cover no-repeat;
  margin-right: 35px;
  width: 80px;
  height: 80px;
}
.bot .unnamed-1 {
  background: url('./../assets/images/Unnamed1.jpeg') 50% / cover no-repeat;
  width: 50px;
  height: 50px;
}
.bot .container-2 {
  border-radius: 40px;
  background: #FFFFFF;
  position: relative;
  margin-right: 35px;
  display: flex;
  padding: 15px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.bot .container-1 {
  background: url('./../assets/images/Image2.png') 50% / cover no-repeat;
  margin-right: 35px;
  width: 80px;
  height: 80px;
}
.bot .container-5 {
  width: 44.3px;
  height: 50px;
}
.bot .bsuir {
  border-radius: 40px;
  background: #3A547F;
  position: relative;
  display: flex;
  padding: 15px 17.7px 15px 18px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.bot .partners {
  margin: 29px 0 12px 0;
  display: flex;
  flex-direction: row;
  width: 425px;
  height: fit-content;
  box-sizing: border-box;
}
.bot .container-2 {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1298px;
  box-sizing: border-box;
}
.bot .container-10 {
  margin-right: 14.5px;
  width: 235.5px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 20px;
  color: #DEBF95;
}
.bot .container-9 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 20px;
  color: #E7DBCD;
}
.bot .container {
  margin-right: 970px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324px;
  box-sizing: border-box;
}
.bot {
  background: #1F1B16;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 83px 0 36px 0;
  width: 1922px;
  box-sizing: border-box;
}
