.bothead-main-1 .container {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--color, #E4B474);
}
.bothead-main {
  display: flex;
  box-sizing: border-box;
}
