.but-1-bot .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: var(--light, #E2D4C4);
}
.but-1-bot {
  border-radius: 10px;
  border: 2px solid var(--light, #E2D4C4);
  background: var(--dark, #1F1B16);
  display: flex;
  padding: 23px 0 19px 6px;
  box-sizing: border-box;
}
