.but-1-main .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: var(--light, #E2D4C4);
}
.but-1-main {
  border-radius: 10px;
  border: 1px solid var(--light, #E2D4C4);
  background: var(--dark, #1F1B16);
  display: flex;
  padding: 27px 0 27px 8px;
  box-sizing: border-box;
}
