.but-2-main .loop {
  margin: 2px 0;
  width: 20px;
  height: 20px;
}
.but-2-main .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 20px;
  color: var(--color, #E4B474);
}
.but-2-main {
  border-radius: 8px;
  border: 2px solid #E4B474;
  background: #1F1B16;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  box-sizing: border-box;
}
