.but-otherstory .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: var(--light, #E2D4C4);
}
.but-otherstory {
  border-radius: 10px;
  background: var(--dark, #1F1B16);
  display: flex;
  padding: 28px 0 28px 9px;
  box-sizing: border-box;
}
