.langheader .container {
  width: 23.5px;
  height: 23.5px;
}
.langheader .lang-11 {
  position: relative;
  display: flex;
  width: 23.5px;
  height: 23.5px;
  box-sizing: border-box;
}
.langheader .ellipse-3 {
  border-radius: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.langheader {
  display: flex;
  padding: 7.7px 8.6px 8.7px 7.9px;
  box-sizing: border-box;
}
