/* .main .top-back {
  filter: blur(3.5px);
  background: url('./../assets/images/TopBack.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -2px;
  width: 1922px;
  height: 960px;
}
.main .container-19 {
  filter: blur(50px);
  position: absolute;
  top: 495px;
  right: 621px;
  width: 656px;
  height: 393px;
}
.main .container-5 {
  margin: 0 19px 6px 0;
  display: inline-block;
  width: 123px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.main .container-6 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.main .container-18 {
  width: 23.5px;
  height: 23.5px;
}
.main .lang-11 {
  position: relative;
  display: flex;
  width: 23.5px;
  height: 23.5px;
  box-sizing: border-box;
}
.main .ellipse-3 {
  border-radius: 20px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 40px;
  height: 40px;
}
.main .lang {
  position: relative;
  margin-top: 4px;
  display: flex;
  padding: 7.7px 8.6px 8.7px 7.9px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.main .header {
  background: linear-gradient(0deg, rgba(118, 105, 89, 0), rgba(46, 42, 36, 0.6), rgba(10, 10, 10, 0.8));
  margin-bottom: 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 130px 71px 130px;
  width: 1920px;
  box-sizing: border-box;
}
.main .container-16 {
  margin: 0 350.9px 65px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 100px;
  color: rgba(228, 180, 116, 0.95);
}
.main .container-12 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Vasek', 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-size: 80px;
  color: var(--text-but-head-bot, rgba(234, 215, 192, 0.75));
}
.main .container-13 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  right: 0px;
  translate: 0 -50%;
  overflow-wrap: break-word;
  font-family: 'Vasek', 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  color: var(--text-but-head-bot, rgba(234, 215, 192, 0.75));
}
.main .container-14 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 5px;
  bottom: 37px;
  overflow-wrap: break-word;
  font-family: 'Vasek', 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  color: var(--text-but-head-bot, rgba(234, 215, 192, 0.75));
}
.main .container-15 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 30px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Vasek', 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  color: var(--text-but-head-bot, rgba(234, 215, 192, 0.75));
}
.main .text-8-ll {
  position: relative;
  margin: 0 196.5px 20px 0;
  width: fit-content;
  height: 224px;
  box-sizing: border-box;
}
.main .container-21 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.main .but-1 {
  border-radius: 10px;
  background: var(--color, #E4B474);
  margin-left: 8px;
  display: flex;
  padding: 28px 0 28px 8px;
  width: 400px;
  box-sizing: border-box;
}
.main .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.main .container-11 {
  position: absolute;
  left: 631px;
  top: 390px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 62px;
  color: #E0CDB4;
}
.main .top {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #362822;
  position: relative;
  display: flex;
  padding-bottom: 121px;
  width: 1920px;
  box-sizing: border-box;
}
.main .old-paper {
  filter: blur(1px);
  background: url('./../assets/images/OldPaper.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -1310px;
  top: -1027px;
  width: 4096px;
  height: 2925px;
}
.main .rectangle-line {
  position: absolute;
  left: 50%;
  top: 89px;
  translate: -50% 0;
  width: 1424px;
  height: 200px;
}
.main .container-17 {
  margin: 95px 119.4px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.32);
}
.main .container {
  margin-bottom: 78px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 40px;
  color: var(--light, #E2D4C4);
}
.main .container-6 {
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main .loop {
  margin: 2px 8.2px 2px 0;
  width: 20px;
  height: 20px;
}
.main .container-20 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 20px;
  color: var(--light, #E2D4C4);
}
.main .but-2 {
  border-radius: 8px;
  border: 2px solid #E2D4C4;
  background: #1F1B16;
  position: relative;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  width: 160px;
  height: fit-content;
  box-sizing: border-box;
}
.main .container-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1044px;
  height: fit-content;
  box-sizing: border-box;
}
.main .rectangle-6 {
  border: 1px solid var(--light, #E2D4C4);
  position: absolute;
  left: 50%;
  top: 151px;
  translate: -50% 0;
  width: 1059px;
  height: 37px;
}
.main .search {
  background: #1F1B16;
  position: relative;
  margin-bottom: 70px;
  display: flex;
  padding: 52px 0 128px 12px;
  width: 1920px;
  box-sizing: border-box;
}
.main .shkola-22062211 {
  filter: blur(1.5px);
  background: url('./../assets/images/FontBG.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: -53px;
  right: -155px;
  width: 575px;
  height: 312px;
}
.main .container-4 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 28px;
  color: #000000;
}
.main .but-4 {
  border-radius: 5px;
  border: 2px solid #000000;
  background: #E7CEC3;
  position: relative;
  margin: 55px 72px 55px 0;
  display: flex;
  padding: 26px 1px 26px 0;
  width: 420px;
  height: fit-content;
  box-sizing: border-box;
}
.main .line-7 {
  background: #000000;
  margin-right: 51px;
  width: 2px;
  height: 200px;
}
.main .container-1 {
  margin: 32px 0 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 28px;
  color: #000000;
}
.main .container-4 {
  position: relative;
  margin: 0 0 80px 30.3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.main .container-7 {
  filter: blur(1.5px);
  background: url('./../assets/images/TopBack.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: -62px;
  right: -58px;
  width: 478px;
  height: 304px;
}
.main .container-8 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.main .but-41 {
  border-radius: 5px;
  border: 2px solid #000000;
  background: #E7CEC3;
  position: relative;
  margin: 54px 72px 56px 0;
  display: flex;
  padding: 25px 1px 25px 0;
  width: 420px;
  height: fit-content;
  box-sizing: border-box;
}
.main .line-8 {
  background: #000000;
  margin-right: 51px;
  width: 2px;
  height: 200px;
}
.main .container-2 {
  margin: 37px 0 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 28px;
  color: #000000;
}
.main .container-5 {
  position: relative;
  margin: 0 0 79.5px 20.4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.main .container-10 {
  background: url('./../assets/images/Image5.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -356px;
  top: -339px;
  width: 1000px;
  height: 745px;
}
.main .container-9 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 23px;
  color: #000000;
}
.main .but-42 {
  border-radius: 5px;
  border: 2px solid #000000;
  background: #DFC9B3;
  position: relative;
  margin: 55.5px 71px 54.5px 0;
  display: flex;
  padding: 29px 0;
  width: 420px;
  height: fit-content;
  box-sizing: border-box;
}
.main .line-9 {
  background: #000000;
  margin-right: 52px;
  width: 2px;
  height: 200px;
}
.main .container-3 {
  margin: 36.5px 0 40.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 28px;
  color: #000000;
}
.main .container-1 {
  position: relative;
  margin-left: 31.9px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.main .mid {
  background: var(--back-frame, #E1D5CC);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 91.5px;
  width: 1920px;
  box-sizing: border-box;
}
.main .container-29 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 30px;
  color: rgba(255, 206, 140, 0.77);
}
.main .container-30 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 19px;
  color: #E0CDB4;
}
.main .container-28 {
  position: relative;
  margin-bottom: 19px;
  display: flex;
  padding: 0 0 20px 2px;
  box-sizing: border-box;
}
.main .container-25 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.main .container-3 {
  margin-right: 28.3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main .container-26 {
  margin-top: 83px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 26px;
  color: var(--light, #E2D4C4);
}
.main .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main .container-33 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.main .but-11 {
  border-radius: 10px;
  background: var(--color, #E4B474);
  margin: 36px 0 15px 0;
  display: flex;
  padding: 25px 0 21px 6px;
  width: 350px;
  height: fit-content;
  box-sizing: border-box;
}
.main .container-22 {
  background: url('./../assets/images/Image1.png') 50% / cover no-repeat;
  margin-right: 35px;
  width: 80px;
  height: 80px;
}
.main .unnamed-1 {
  background: url('./../assets/images/Unnamed1.jpeg') 50% / cover no-repeat;
  width: 50px;
  height: 50px;
}
.main .container-24 {
  border-radius: 40px;
  background: #FFFFFF;
  position: relative;
  margin-right: 35px;
  display: flex;
  padding: 15px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.main .container-23 {
  background: url('./../assets/images/Image2.png') 50% / cover no-repeat;
  margin-right: 35px;
  width: 80px;
  height: 80px;
}
.main .container-27 {
  width: 44.3px;
  height: 50px;
}
.main .bsuir {
  border-radius: 40px;
  background: #3A547F;
  position: relative;
  display: flex;
  padding: 15px 17.7px 15px 18px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.main .partners {
  margin: 29px 0 12px 0;
  display: flex;
  flex-direction: row;
  width: 425px;
  height: fit-content;
  box-sizing: border-box;
}
.main .container-9 {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1298px;
  box-sizing: border-box;
}
.main .container-32 {
  margin-right: 14.5px;
  width: 235.5px;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 20px;
  color: #DEBF95;
}
.main .container-31 {
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 20px;
  color: #E7DBCD;
}
.main .container-2 {
  margin-right: 970px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 324px;
  box-sizing: border-box;
}
.main .bot {
  background: #1F1B16;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 83px 0 36px 0;
  width: 1922px;
  box-sizing: border-box;
}
.main {
  background: #A8907C;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  box-sizing: border-box;
} */
