.photo-1 .f-1015-ced-28184-c-8-be-66-a-57-cf-97-bcd-9-d-4 {
  background: url('./../assets/images/Image4.jpeg') 50% / cover no-repeat;
  margin-bottom: 18px;
  width: 916px;
  height: 586px;
}
.photo-1 .container {
  margin: 0 30px 8px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color, #E4B474);
}
.photo-1 .container-1 {
  margin: 0 30px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: var(--light, #E2D4C4);
}
.photo {
  background: var(--dark, #1F1B16);
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  width: 916px;
  box-sizing: border-box;
}
