.story .story {
  background: url('./../assets/images/Image4.jpeg') 50% / cover no-repeat;
  width: 1189.6px;
  height: 790px;
}
.story-1 {
  display: flex;
  width: 1189.6px;
  box-sizing: border-box;
}
