.story-archive-6 .container {
  background: url('./../assets/images/Image3.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -256px;
  right: 0px;
  bottom: -276px;
  height: 100%;
}
.story-archive-6 .photo {
  position: relative;
  width: 650px;
  height: 250px;
}
.story-archive-6 .line-14 {
  background: #E4B474;
  margin: 15px 4px 8px 0;
  width: 2px;
  height: 20px;
}
.story-archive-6 .container-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Zen Kurenaido';
  font-weight: 400;
  font-size: 30px;
  color: var(--color, #E4B474);
}
.story-archive-6 .container {
  margin: 0 17px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.story-archive-6 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.story-archive-6 .container-2 {
  position: absolute;
  left: 23px;
  bottom: 14px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  text-transform: lowercase;
  color: var(--light, #E2D4C4);
}
.story-archive {
  background: var(--dark, #1F1B16);
  display: flex;
  box-sizing: border-box;
}
