.section-map-page {
    /* display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr; */
    color: #1f1b16;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 0px 70px;
    background: url("../../images/DefaultBG.jpg") no-repeat center center;
    background-size: cover;
}

.map-container{
    background: url("../../images/DefaultBG.jpg") no-repeat center center;
    background-size: cover;
}

.section-map-header {
    padding: 0px 150px 0px;
}

.section-map {
    display: flex;
    flex: 3 1;
    flex-direction: column;
    color: #1f1b16;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    padding-bottom: 5%;
}

.container-description-map {
    padding-bottom: 6px;
    padding-left: 14px;
    padding-bottom: 19px;
    margin-bottom: 32px;
    border-bottom: 2px solid #1f1b16;
    font-size: 20px;
    font-family:
        Zen Kurenaido,
        sans-serif;
}

.container-description-map-admin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-bottom: 19px;
    margin-bottom: 32px;
    border-bottom: 2px solid #1f1b16;
    font-size: 20px;
    font-family:
        Zen Kurenaido,
        sans-serif;
}

.container-description-map-admin span {
    width: 70%;
}

.container-map {
    border: 1.5px #1f1b16 solid;
    position: relative;
    z-index: 1; /* Ensure this is above other elements */
    pointer-events: auto;
    width: 80vw;
    height: 100vh; /* Высота должна быть указана для отображения карты */
}


.active-place {
    z-index: 10;
    width: 28vw;
    height: 90vh;
    background-color: #4d4b48;
    opacity: 90;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    right: 0;
    top: 5%;
    bottom: 0;
}

.container-active-place {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px 25px 34px;
    border: 3px solid #e2d4c4;
    border-radius: 10px;
    z-index: 2;
}

.header-active-place {
    display: flex;
    justify-content: flex-end;
    padding: 20px 25px 10px;
    z-index: 2;
    border-radius: 10px;
    background-color: #4d4b48;
}

.header-active-place img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header-active-place img:hover {
    transform: scale(1.1);
}

.content-active-place {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #4d4b48;
    border-radius: 10px;
}

.container-image-active-place {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2d4c4;
    border-radius: 10px;
}

.container-image-active-place img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    box-shadow: 0px 3px 8px black;
    z-index: 0;
    border-radius: 7px;
}

.container-text-active-place {
    flex: 1;
    padding: 20px;
    background-color: #453f38;
    color: #e2d4c4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    /* height: max-content; */
}

.container-text-active-place h2 {
    color: #e4b474;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.container-text-active-place ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container-text-active-place li {
    display: flex;
    align-items: center;
}

.container-text-active-place h3 {
    color: #e2d4c4;
    margin: 0;
    font-size: 16px;
}

.container-text-active-place span {
    color: #e2d4c4;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 1px;
    word-break:keep-all;
}

.container-button-selected-place {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0px 25px 34px 25px;
}



.custom-tooltip:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.leaflet-control-attribution {
    display: none !important;
}

/* Пример кастомных стилей для Tooltip */
.custom-tooltip {
    background-color: #4D4B48 !important; /* Цвет фона */
    color: white !important; /* Цвет текста */
    border-radius: 10px; /* Скругление углов */
    padding: 10px; /* Отступы */
    font-size: 14px; /* Размер шрифта */
    opacity: 0.9; /* Прозрачность */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: max-content;
    height: 40px;
}